

@media (max-width: 600px) {
  .correccion {
    margin-left: 0%;
    flex-direction: column;
  }
}


.correccion{
  /* background-color: cornflowerblue;   */
  display: flex;
  justify-content: center;
  width: 1400px;
  height: 600px;
 margin: auto;
 margin-top: 40px;
 border-radius: 40px;
 align-items: center;
}
.texto-correccion{
 width: 700px;
height: 300px;
border-radius: 20px;
text-align: center;
}
.imagen-correccion{
  width: 700px;
  height: 600px; 
  border-radius: 5px;
}
.texto{
  line-height: 30px;
  font-size: 1.3em;
  display: inline-block;
}
